In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
from datetime import datetime,tzinfo
from pytz import timezone
import time
import pytz

In [2]:
df_bitstamp = pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2018-01-08.csv')
df_bitstamp.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2,1325318040,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
3,1325318100,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
4,1325318160,4.39,4.39,4.39,4.39,0.455581,2.0,4.39

In [7]:
df_bitstamp.Timestamp = pd.to_datetime(df_bitstamp.Timestamp, unit='s')
df_bitstamp.Timestamp = df_bitstamp.Timestamp.dt.tz_localize('UTC').dt.tz_convert('US/Central')
df_bitstamp.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 01:52:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 01:53:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2,2011-12-31 01:54:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
3,2011-12-31 01:55:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
4,2011-12-31 01:56:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39

In [8]:
price=df_bitstamp['Weighted_Price']

In [9]:
min_periods = 10 
# Calculate the volatility
vol = price.rolling(min_periods).std() * np.sqrt(min_periods) 
df_bitstamp['Volatility']=vol
df_bitstamp.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Volatility
0,2011-12-31 01:52:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,NaN
1,2011-12-31 01:53:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,NaN
2,2011-12-31 01:54:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,NaN
3,2011-12-31 01:55:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,NaN
4,2011-12-31 01:56:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,NaN