In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import datetime as dt
from datetime import datetime,tzinfo
from pytz import timezone
import time
import pytz
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('bitstampUSD_1-min_data_2012-01-01_to_2018-01-08.csv')
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2,1325318040,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
3,1325318100,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
4,1325318160,4.39,4.39,4.39,4.39,0.455581,2.0,4.39

In [3]:
#Convert Timestamp into separate Date and Time
#temp = pd.DatetimeIndex(df['Timestamp']) #Gather all datetime objects
df['Dates'] = pd.to_datetime(df['Timestamp']).dt.date
df['Time'] = pd.to_datetime(df['Timestamp']).dt.time

del df['Timestamp'] #Delete original datetime column

df.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Dates,Time
0,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,1970-01-01,00:00:01.325317
1,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,1970-01-01,00:00:01.325317
2,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,1970-01-01,00:00:01.325318
3,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,1970-01-01,00:00:01.325318
4,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,1970-01-01,00:00:01.325318

In [3]:
df.Timestamp = pd.to_datetime(df.Timestamp, unit='s')
df.Timestamp = df.Timestamp.dt.tz_localize('UTC').dt.tz_convert('US/Central')
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 01:52:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 01:53:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2,2011-12-31 01:54:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
3,2011-12-31 01:55:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
4,2011-12-31 01:56:00-06:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39

In [4]:
#Convert Timestamp into separate Date and Time
#temp = pd.DatetimeIndex(df['Timestamp']) #Gather all datetime objects
df['Date'] = pd.to_datetime(df['Timestamp']).dt.date
df['Time'] = pd.to_datetime(df['Timestamp']).dt.time

del df['Timestamp'] #Delete original datetime column

df.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date,Time
0,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,2011-12-31,01:52:00
1,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,2011-12-31,01:53:00
2,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,2011-12-31,01:54:00
3,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,2011-12-31,01:55:00
4,4.39,4.39,4.39,4.39,0.455581,2.0,4.39,2011-12-31,01:56:00

In [5]:
price=df['Weighted_Price']

In [6]:
min_periods = 1440

# Calculate the sd and volatility
mean=price.rolling(min_periods).mean()
sd=price.rolling(min_periods).std()
vol = price.rolling(min_periods).std() * np.sqrt(min_periods) 
df['Average']=mean
df['Volatility']=vol
df['SD']=sd
df.tail()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date,Time,Average,Volatility,SD
3161052,16167.98,16179.65,16154.59,16154.60,2.887541,46660.414604,16159.221330,2018-01-07,17:56:00,16518.439595,11660.722878,307.287029
3161053,16178.07,16178.07,16142.13,16176.43,1.014694,16402.389804,16164.858364,2018-01-07,17:57:00,16517.763921,11649.592195,306.993710
3161054,16131.19,16176.10,16114.30,16114.30,16.897225,272434.236630,16123.016402,2018-01-07,17:58:00,16517.056264,11639.510931,306.728045
3161055,16169.82,16189.43,16114.49,16124.02,6.384757,103222.040090,16166.949978,2018-01-07,17:59:00,16516.385962,11628.481450,306.437393
3161056,16173.98,16176.96,16102.05,16166.78,25.633791,413278.394640,16122.406640,2018-01-07,18:00:00,16515.680741,11618.503085,306.174440

In [ ]:
def marker(startdate,enddate)
# startdate=MM/DD/YY
    index_1 = df[df.Date == datetime.date(dt.datetime.strptime('startdate', '%x'))].index[0]
    index_2 = df[df.Date == datetime.date(dt.datetime.strptime('enddate', '%x'))].index[0]
    df_1= df.loc[index_1:,index_2]

In [62]:
index_1 = df[df.Date == datetime.date(dt.datetime.strptime('11/13/17', '%x'))].index[0]
#index_2 = df[df.Date == datetime.date(dt.datetime.strptime('11/14/17', '%x'))].index[0]
#df_1= df.loc[index_1:index_2]
df_1= df.loc[index_1:,]
df_1.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Date,Time,Average,Volatility,SD
3080776,6225.51,6264.95,6225.45,6264.87,4.280439,26743.883673,6247.930101,2017-11-13,00:00:00,6072.051689,6810.022063,179.459839
3080777,6264.90,6266.46,6261.79,6266.46,57.303375,359084.618900,6266.378158,2017-11-13,00:01:00,6072.343124,6809.056770,179.434401
3080778,6266.46,6266.46,6264.58,6266.46,22.837611,143110.883390,6266.455884,2017-11-13,00:02:00,6072.647995,6807.408278,179.390959
3080779,6266.46,6266.46,6266.45,6266.45,10.198072,63905.808841,6266.459688,2017-11-13,00:03:00,6072.953776,6805.692515,179.345745
3080780,6266.09,6266.46,6256.01,6266.46,51.373019,321627.149490,6260.623874,2017-11-13,00:04:00,6073.263517,6803.364055,179.284385

In [90]:
df_2=df_1.groupby(df_1.Date).mean()
df_2.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,Average,Volatility,SD
Date,,,,,,,,,,
2017-11-13,6505.265014,6513.620660,6496.559118,6505.081924,17.455560,113545.703382,6504.932066,6245.981110,8330.797602,219.535793
2017-11-14,6637.640271,6643.434042,6631.566493,6637.410792,9.041831,60040.972640,6637.118620,6571.767006,3015.113397,79.455214
2017-11-15,7141.869708,7147.406472,7135.397778,7141.148882,10.239723,73302.992414,7141.158681,6886.567195,6683.801025,176.133622
2017-11-16,7635.525708,7642.812424,7626.947653,7635.533465,15.109686,115813.131922,7634.995351,7354.771061,5951.014336,156.822997
2017-11-17,7750.102681,7756.637000,7741.886514,7749.414687,11.050186,85418.552722,7748.867928,7773.604512,5010.855850,132.047646

In [98]:
marker=[]
change=[]
for i in range(len(df_2)-1):
    dailydiff=df_2['Average'].iloc[i+1]-df_2['Average'].iloc[i]
    change.append(dailydiff)
    if change[i] > 2*(df_2['SD'].iloc[i]):
        marker.append(df_2.index[i])

In [99]:
marker

[datetime.date(2017, 11, 14),
 datetime.date(2017, 11, 15),
 datetime.date(2017, 11, 16),
 datetime.date(2017, 11, 19),
 datetime.date(2017, 11, 24),
 datetime.date(2017, 11, 25),
 datetime.date(2017, 11, 26),
 datetime.date(2017, 11, 27),
 datetime.date(2017, 11, 28),
 datetime.date(2017, 12, 1),
 datetime.date(2017, 12, 5),
 datetime.date(2017, 12, 6),
 datetime.date(2017, 12, 10),
 datetime.date(2017, 12, 14),
 datetime.date(2017, 12, 15),
 datetime.date(2017, 12, 16),
 datetime.date(2017, 12, 25),
 datetime.date(2018, 1, 2),
 datetime.date(2018, 1, 4),
 datetime.date(2018, 1, 5)]

In [55]:
marker=pd.DataFrame()
marker['date']=marker_date
marker['time']=marker_time
marker.head()

Empty DataFrame
Columns: [date, time]
Index: []

In [ ]:
df['max'] = pd.rolling_max(price, 120)
df['min'] = pd.rolling_min(price, 120)

df.tail()

In [ ]:
plt.plot(df.index, df.Weighted_Price)
plt.scatter(df.index, df['min'], c='r')
plt.scatter(df.index, df['max'], c='g')
plt.errorbar(df.index, df.Weighted_Price,yerr=2*df.SD, fmt='b')
plt.legend()
plt.show()

In [ ]:
def